.App {
  text-align: center;
  }

.class {
  color:silver;font-size: 50px;background-color:gold ;
}

.carte {
  display:flex ;
  justify-content:space-around;
  border-radius: 4px;
  box-shadow: 0px 20px 30px -10px rgba(0, 0, 0, 0.1);
  background: #191c29;
  width: var(--card-width);
  height: var(--card-height);
  padding: 3px;
  position: relative;
  border-radius: 6px;
  align-items: center;
  text-align: center;
  font-size: 1.5em;
  color: rgb(88 199 250 / 0%);
  cursor: pointer;
  font-family: cursive;
  
  }

.haroun {
    background: transparent;
    font-family: system-ui;
    margin: 0;
    padding: 0;
    border-bottom: 1cm;
    height: 100vh;
    width: 100vw;
}

.rafpet {
  margin: 0;
  padding: 0;
  border-bottom: 1cm;
  font-size: 2px;
  }

.counter{
  display: inline-flex;
}









































