.App {
  text-align: center;
}

.class {
  color:silver;font-size: 50px;background-color:gold ;
}

.carte {
    display:flex ;justify-content:space-around;
}

.haroun {
    background: white;
}

.rafpet {
  display:flex
}

.counter{
  display: inline-flex;
}

